<!DOCTYPE html> // 이 문구가 있으면 이것은 5
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
    
    <body> 
        <h1> id = "page1> 하이퍼 링크 태크a </h1>
        <div><a href="http://www.naver.com">링크-외부</a></div>
        <br>
        <a><a href = "/views/newpage.html">링크-내부 서버파일</a>
        <br>
        <a href="#page3">링크-페이지 내부</a>
        <ifram width = "560" height="315" src="https://youtu.be/gq4Sx-jj9EY?si=qWHftY1p645Hzx4v"/></ifram>

        <h1> 표태그도 중요함</h1>
        <table border="1" id="page2"></table>
        <span> 영역 태그중 inline영역의 대표주자 </span>
        <span> 영역 태그중 inline영역의 대표주자 </span>
        <span> 영역 태그중 inline영역의 대표주자 </span>
        <span> 영역 태그중 inline영역의 대표주자 </span>
        <div>영역 태그중 block 영역의 대표주자 </div>
        <div>영역 태그중 block 영역의 대표주자 </div>
        <div>영역 태그중 block 영역의 대표주자 </div>
        <div>영역 태그중 block 영역의 대표주자 </div>
        <iframe> </iframe>
        <table border="5">
            <figcaption><mark>표2-제목1</mark></figcaption>
            <table border="1"> </table>
            <thead>
            <tr> <!-- tr은 선 개념이 없음-->
                <td rowspan="3"> 내용</td>
                <td colspan="2"> 내용 2</td>
                <td>내용 3</td>
                <td>내용 4</td>
            </thead>
            <tfoot>
            <tr>
                <td>내용 5</td>
                <td>내용 7</td>
                <td>내용 8</td>
            </tfoot>
    </tr>
    <tr>
        <td>내용 9</td>
        <td>내용 10</td>
        <td>내용 11</td>
        <td>내용 12</td>

    </tr>
    




</table>








<p><strong><small><em>글꼴~~테스트~~</em></small></strong></p>    

<p>
<h3> 글꼴 <mark>마크마크마크</mark> 글꼴</h3>
</p>

<h1>제목 h1</h1>
<! -- 제목은 자동으로 줄 바뀜>
    <h2>제목 h2</h2>
    <h3>제목 h3</h3>
    <h4>제목 h4</h4>
    <h5>제목 h5</h5>
    <h6>제목 h2</h6>
    <h7>제목 h2</h7>
    <h0>제목 h2</h0>

    <p>첫 코드입니다 첫 코드입니다 첫 코드입니다 첫 코드입니다 
       첫 코드입니다 첫 코드입니다 첫 코드입니다 첫 코드입니다
       첫 코드입니다 첫 코드입니다 첫 코드입니다
       첫 코드입니다 첫 코드입니다

    </p> <! -- p tag는 자동으로 줄 바뀜 >


    "안녕하세요."" &nbump;&nbump;&nbump; 반갑습니다.
    html 처음입니다.<br>

<u> 이것은 언더바 태그 u </u>
<s> 이것은 취소선 태그 s</s>
    <br>
    <p>첫 코드입니다.</p><br>
    <! -- ctrl / 으로 주석 -->
    <br>
    live server startup = alt + L - O 




<ul> <h2>여기 절대 작성하면 안되는 위치임</h2> 

    <p>li외 다른 태그 사용 금지</p>
    순서가 필요하지 않은 목록 만들때 사용 
    리스트 앞에 특정 모양 출력 기본값 : 으로//
    

    <li></li>
    <li></li>
    <li></li>
    <li></li>
   </ul> 


   <ol type="A" start="5">
    default 값은 1임~
    <li> 내용1</li>
    <li> 내용2</li>
    <li> 내용3</li>
    <div> 내용 4 submenu </div>
   </ol>

<dl>
    <dt> 정의 제목 definition title </dt>
    <dd> 정의 내용 definition data </dd>
    <dd> 정의 내용 definition data </dd>
    <dd> 정의 내용 definition data </dd>

</dl>

<table>

    <tr> 행 
    <td> 내용 </td>        
    <td> 내용 </td>        
    <td> 내용 </td>        
    </tr>
</table>


</body>
</html>