<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 첫 웹페이지</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/myweb.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrap-header">
        <header>
            <nav class="tnb">
                <ul>
                    <li>Web1</li>
                    <li>Mobile</li>
                    <li>Game</li>
                    <li>Simulation</li>
                    <li>Data</li>
                </ul>
            </nav>
            <nav class="bnb">
                <ul>
                <li>이부분</li>
                <li>이부분</ul>
                <li>이부분</li>
                <li>이부분</li>
                <li>이부분</li>
                </ul>
            </nav>
            <div class="logo">
                <h1>Rint Development</h1>
               <h3>HTML5 + CSS3 Basic</h3>
            </div>
        </header>
    </div>

    <div class="wrap-main">
        <section>
            <article>
                <h1 class="noto-serif"><kr-regular>Main Article<kr-regular></kr-regular></h1>
                <p>
                    In related events, the Academy held its 14th annual Governors Awards ceremony, hosted by John
                    Mulaney, at the Ray Dolby Ballroom at Ovation Hollywood on January 9, 2024.[4] The Academy
                    Scientific and Technical Awards were presented by host Natasha Lyonne on February 23, 2024, at the
                    Academy Museum of Motion Pictures in Los Angeles.[5] An American Sign Language livestream was
                    broadcast on the Academy's YouTube page featuring video of interpreters
                </p>
            </article>

            <article>
                <h1>Main Article</h1>
                <p>
                    In related events, the Academy held its 14th annual Governors Awards ceremony, hosted by John
                    Mulaney,
                    at the Ray Dolby Ballroom at Ovation Hollywood on January 9, 2024.[4] The Academy Scientific and
                    Technical Awards were presented by host Natasha Lyonne on February 23, 2024, at the Academy Museum
                    of
                    Motion Pictures in Los Angeles.[5] An American Sign Language livestream was broadcast on the
                    Academy's
                    YouTube page featuring video of interpreters
                </p>
            </article>

            <article>
                <h1>Main Article</h1>
                <p>
                    In related events, the Academy held its 14th annual Governors Awards ceremony, hosted by John
                    Mulaney,
                    at the Ray Dolby Ballroom at Ovation Hollywood on January 9, 2024.[4] The Academy Scientific and
                    Technical Awards were presented by host Natasha Lyonne on February 23, 2024, at the Academy Museum
                    of
                    Motion Pictures in Los Angeles.[5] An American Sign Language livestream was broadcast on the
                    Academy's
                    YouTube page featuring video of interpreters
                </p>
            </article>
            <article>
                <h1>Main Article</h1>
                <p>
                    In related events, the Academy held its 14th annual Governors Awards ceremony, hosted by John
                    Mulaney,
                    at the Ray Dolby Ballroom at Ovation Hollywood on January 9, 2024.[4] The Academy Scientific and
                    Technical Awards were presented by host Natasha Lyonne on February 23, 2024, at the Academy Museum
                    of
                    Motion Pictures in Los Angeles.[5] An American Sign Language livestream was broadcast on the
                    Academy's
                    YouTube page featuring video of interpreters
                </p>
            </article>
        </section>
        <aside class="wrap-main">
            The nominations were announced on January 23, 2024. Oppenheimer led with 13 nominations, followed by Poor
            Things and Killers of the Flower Moon with 11 and 10, respectively

        </aside>
    </div>

    <div class="wrap-footer">
        <footer>
            This was the fifth consecutive year with at least one Best Picture nominee directed by a woman: Greta Gerwig
            with Barbie, Celine Song with Past Lives, and Justine Triet with Anatomy of a Fall.[29][30] Triet also
            became the eighth woman nominated for Best Director.[31][32] Overall, six couples received nominations that
            they shared together in their respective categories


        </footer>
</body>
</div>

</html>