<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--필수!! reset.css-->
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/mydiv.css" rel="stylesheet">
    <style>
        /* span{
            display: block;
            width: 500px;
            height: 300px;
            border: 1px solid red;
            margin: 20px;
            padding: 10px;

        }
        div{
            display: inline-block; 
            width: 500px;
            height: 300px;
           padding: 10px;
            margin: 20px;
            border: 1px solid black;

        } */
    </style>
</head>
<body>
    <span>Inline 임시 테스트용</span>
    <div>BLOCK 임시 테스트용</div>
    < class = "wrap">
        <header>
            <span>제목:회사명, 로고, 로그인</span>
        </header>
        <div class="wrap-nav">
            <nav>
                
            </nav>
        </div>
        <nav>
            <u1>
                <li> 메뉴 1 </li>
                <li> 메뉴 1 </li>
                <li> 메뉴 1 </li>
            </u1>
        </nav>
        <div class="wrap- main wrap-nav">
            </div>
            <div class> "wrap-main wrap-content"</div>
            <section>
                </section>
                 <aside>
            <div>
                광고, 최근본상품, 바로가기링크
            </div>
            <nav>
                <u1>
                    <li> 메뉴 1 </li>
                    <li> 메뉴 1 </li>
                    <li> 메뉴 1 </li>
                </u1>
            </nav>
        </aside>

    <footer>
        <address>서울시 강남구 테헤란로</address>
        <div>저작권</div>
        <nav>
            <u1>
                <li> 메뉴 1 </li>
                <li> 메뉴 1 </li>
                <li> 메뉴 1 </li>
            </u1>
        </nav>
    </footer>

    </div>

</body>
</html>