<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>폼태그 처음</title>
    <style>
  @import url(../css/my.css)); 
            
  
    </style>
  
    <!--  
    <link href=""../css/my.css" rel="stylesheet" type="text/css">
  -->


</head>

<body>
    <a href="#n5v" id="a1"



<div>
    <h1> web31 copy dept insert</h1>

<form method="get" action="<%= request.getContextPath()%>/dept/insert" tager="_black">
    <fieldset>
        <legend>부서추가</legend>
        <div>
            <span>deptno: </span>
            <input type = "text" name="deptno">
        </div>
        <div>
            <span> dnmae</span>
            <input type = "text" name="dname">
        </div>
        <div>
            <span>loc: </span>
            <input type = "text" name="Loc" value="seoul">
        </div>
        <div>
            <span>"제출말고 다른이름": </span>
            <input type = "submit" name="제출말고 다른이름">
        </div>
        <div>
            <span>"초기화말고 다른이름"</span>
            <input type = "reset" name="초기화말고 다른이름">
        </div>
    </fieldset>
</form>
</div>
</fieldset>
</body>
</body>
</html>
    

